@model IEnumerable<bgrimmettShoppingAppCSHTML.Models.CodeFirst.Item>

<div class="create">
    <div class="grid-100">
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-danger pull-left" style="text-decoration:none; color:white;">@Html.ActionLink("Create New", "Create")</button>
        }
    </div>
</div>



<div style="margin-top:40px;">
    @foreach (var item in Model)
    {
        <div class="grid-25 text-center">
            <a href="@Url.Action("Details", "Items", new { id = item.Id })"><img src="@Url.Content(item.MediaURL)" class="itemImg" /></a>
            <p style="padding-top:25px;">@item.Name</p>
            <p>$@item.Price</p>

            @using (Html.BeginForm("Create", "CartItems", new { id = item.Id }, FormMethod.Post))
            {    //To keep secure
                @Html.AntiForgeryToken()
                //input type button
                <input type="submit" class="btn btn-danger" value="Add to cart" />
            }

            @if (User.IsInRole("Admin"))
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
        </div>
    }
</div>
